# Node modules
node_modules/

# Build output
build/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# MacOS specific files
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
tmp/
temp/

# Ignore public/.DS_Store
public/.DS_Store